.vscode
node_modules
dist
forta.config.json
__pycache__
.pytest_cache
.DS_Store
*.tar.gz
*.tgz
secrets.json
keys.py
keys.py~
*.kbx
*.kbx~
*.gpg
.gitignore
*.key
scam-detector-py/src/fp_mitigation/models/ae_state_dict.pt
scam-detector-py/src/fp_mitigation/models/ae.pkl
scam-detector-py/src/fp_mitigation/models/fp_lgbm.pkl
scam-detector-py/src/fp_mitigation/models/fp_xgb.pkl
scam-detector-py/src/fp_mitigation/models/ohe.pkl
alert-combiner-py/src/fp_mitigation/models/ae_state_dict.pt
alert-combiner-py/src/fp_mitigation/models/ae.pkl
alert-combiner-py/src/fp_mitigation/models/attack_lgbm.pkl
alert-combiner-py/*.ipynb
alert-combiner-py/*.csv
.gitignore
social-eng-contract-py/forta_bot-0.2.0-1704903702.tar.gz.zip
social-eng-contract-py/package/*