forta_agent>=0.1.25
setuptools>=61.3.1
pandas>=1.4.2
requests>=2.27.1
hexbytes>=0.2.2
python-dotenv>=0.16.0
boto3>=1.26.96
ratelimiter>=1.2.0.post0
python-gnupg>=0.5.0
opentelemetry-api==1.22.0
opentelemetry-exporter-otlp-proto-http==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-semantic-conventions==0.43b0